<%- include('./partials/header') %>
<div class="d-flex justify-content-center">
    <form action='/recipes/search' method="GET" class="input-group mb-3"> 
        <input class="form-control"type="search" name="q" placeholder="What's in the Fridge?"/>
        <input class="btn btn-outline-secondary" type="submit" value="Search">
    </form>
</div>

<%- include('./partials/footer') %>