<%- include('../partials/header') %>
<form id = "new-recipe-form">
    <div class="row">
        <div class="form-group col-md-7">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="recipe-name" placeholder="Ratatouille ..."/>
        </div>
        <div class="form-group col-md">
            <label for="category">Category</label>
            <input type="text" class="form-control" name="category" id="category" placeholder="Type of Cuisine"/>
        </div>
        <div class="form-group col-md">
            <label for="prepTime">Preparation Time</label>
            <input type="number" class="form-control" name="prep-time" id="prep-time"placeholder="Time in minutes"/> 
        </div>
    </div>
    <div class="row">
        <div class="form-group col-auto">
            <label for="ingredient-search">Ingredient Search</label>
            <input type="search" class="form-control" name="q" id="ingredient-search"/>
        </div>
        <div class="form-group col-auto">
            <label></label>
            <button class="btn btn-outline-secondary form-control" id="ingredient-search-btn" data-toggle="modal" data-target="#exampleModal">Search</button>
        </div>       
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <ul class="form-control list-group" name="ingredients" id="ingredient-list">
   
        </ul>
    </div>
    <div class="form-group">
        <label for="directions">Directions</label>
        <textarea class="form-control" name="directions" cols="30" rows="10" id="directions" placeholder="Steps to make your recipe ..."></textarea>
    </div>
    <button class="btn btn-outline-secondary" id="add-recipe">Add Recipe</button>
</form>
<%- include('../partials/searchResults') %>
<%- include('../partials/footer') %>